.CPBodyRow {
  background-color: #fffef2;
  background-color: $mainBgColor;
  max-width: 100%;
  opacity: 1;
  overflow: hidden;
  transition: all 1000ms;
  a:hover {
    text-decoration: none;
  }
  &.CPBodyRow--activeSubcat {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.CPBodyRow--light {
  background-color: $subBgColor;
  .CPSubcatProduct {
    &:hover {
      background-color: $black20;
    }
  }
}
.CPBodyRow--dark {
  background-color: $thirdBgColor;
  .CPSubcatProduct {
    &:hover {
      background-color: $black20;
    }
  }
}
.CPSubcatIntro {
  padding: 50px 20px 20px;
}
.CPSubcatIntroDescription {
  color: #252525;
  font-family: "Suisse Regular", sans-serif;
}
.CPSubcatIntroDescription-btn {
  margin-bottom: 15px;
  text-align: left;
}
.CPSubcatIntroDescription-name {
  font-size: 2.4rem;
}
.CPSubcatIntroDescription-info {
  font-size: 1.4rem;
  line-height: 1.6;
}
.CPSubcatIntroCTA {
  width: 100%;
}
.CPSubcatIntroCTA-wrapper {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
}
.CPSubcatIntroCTA-text {
  color: #252525;
  font-family: "Suisse Medium", sans-serif;
  font-size: 1.4rem;
  text-align: left;
}
.CPSubcatIntroCTA-icon {
  fill: #252525;
  height: 13px;
  margin: 3px 0 0 20px;
  width: 13px;
}
.CPBodyScrollable {
  -ms-flex-order: 2;
  order: 2;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.CPBodyScrollable-wrapper {
  display: -ms-flexbox;
  display: flex;
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.CPSubcatProduct {
  height: 270px;
  transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 1000ms cubic-bezier(0.215, 0.61, 0.355, 1),
    width 1000ms cubic-bezier(0.645, 0.045, 0.355, 1) 800ms,
    height 1000ms cubic-bezier(0.645, 0.045, 0.355, 1) 800ms;
  width: 100%;
}
.CPSubcatProductSizePrice {
  font-family: "Suisse Regular", sans-serif;
  font-size: 1.4rem;
  margin: 0 auto 30px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  * {
    font-size: inherit;
  }
}
.CPSubcatProductSizePrice-name {
  font-family: "Suisse Medium", sans-serif;
  color: #252525;
  margin-bottom: 10px;
}
.CPSubcatProductSizePrice-info {
  color: #666;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.CPSubcatProductSizePrice-separator {
  color: rgba(51, 51, 51, 0.2);
  display: inline-block;
  margin: 0 5px;
}

.CPSubcatProduct-picture > img {
  display: block;
  margin: 0 auto;
  max-height: 220px;
  max-width: 100%;
  opacity: 1;
  transition: opacity 700ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.CPBodyScrollable-nav {
  height: 100%;
  pointer-events: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  & > * {
    pointer-events: all;
  }
}
.CPBodyScrollable-navBtnTrigger {
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.001);
  display: -ms-flexbox;
  display: flex;
  height: 320px;
  position: absolute;
  width: 20%;
  width: 100px;
  opacity: 0;
}
.CPBodyScrollable-navBtnTrigger--left {
  -ms-flex-pack: start;
  justify-content: flex-start;
  left: 0;
}
.CPBodyScrollable-navBtnTrigger {
  height: 100%;
}
.CPBody--activeSubcategory {
  .CPSubcatProduct {
    height: auto;
  }
  .CPSubcatProduct-picture {
    height: 300px;
  }
}
.CPSubcatProductSizePrice-name {
  // font-family: 'Suisse Medium', sans-serif;
  color: $mainColor;
  margin-bottom: 10px;
}
.CPSubcatProductSizePrice-info {
  // color: #666;
  opacity: 0.8;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.CPSubcatProductVariantList {
  // font-family: 'Suisse Medium', sans-serif;
  font-size: $fontSizeBody;
  line-height: 1.1;
  color: $mainColor;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -16px;
  opacity: 0;
  z-index: 55;
  transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.CPSubcatProduct--hasVariants:hover .CPSubcatProductSizePrice-info,
body.has-touch .CPSubcatProduct--hasVariants .CPSubcatProductSizePrice-info {
  opacity: 0;
}
.CPSubcatProduct:hover .CPSubcatProductVariantList,
body.has-touch .CPSubcatProductVariantList {
  opacity: 1;
}
.CPSubcatProductDetails {
  font-size: 1.4rem;
  padding: 30px 20px;
  width: 100%;
}
.CPSubcatProductDetails-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 2px solid $darkColor;
  width: 100%;
}
.CPSubcatProductDetails-listItem {
  padding: 20px 0;
}
.CPSubcatProductDetails-title {
  // font-family: 'Suisse Medium', sans-serif;
  color: $mainColor;
  margin: 0 0 10px 0;
}
.CPSubcatProductDetails-content {
  color: $mainColor;
  opacity: 0.8;
}
.CPSubcatProduct-ctaWrapper {
  opacity: 0;
  padding: 0 20px;
  transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.CPSubcatProduct-cta {
  width: 100%;
}
@media (min-width: 640px) {
  .CPBodyRow {
    display: -ms-flexbox;
    display: flex;
  }
  .CPBodyRow-intro {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(100% * 2 / 7);
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 370px;
  }
  .CPSubcatIntro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 17px 40px 34px;
  }
  .CPSubcatIntroDescription {
    margin-top: auto;
    padding: 0 0 25px;
  }
  .CPSubcatIntroDescription-name {
    font-size: 1.8rem;
  }
  .CPSubcatIntroDescription-info {
    font-size: 1.2rem;
  }
  .CPSubcatIntroCTA-wrapper {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .CPBodyScrollable-wrapper {
    height: 100%;
  }
  .CPBodyRow-scrollableProduct {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(100% * 2 / 5);
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .CPSubcatProduct {
    height: 370px;
  }
  .CPSubcatProduct-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  .CPSubcatProductSizePrice {
    height: 90px;
    margin: 0 auto;
    padding: 0 34px;
  }
  .CPSubcatProduct-picture {
    -ms-flex-align: end;
    align-items: flex-end;
    display: -ms-flexbox;
    display: flex;
    height: 280px;
  }
  .CPSubcatProduct-picture > img {
    height: auto;
    max-height: none;
    width: 180px;
  }
  .CPBodyRow-subcategoryProducts {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(100% * 1 / 2);
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .CPSubcatProductDetails {
    animation: subcat-product-details-enter-md 1000ms 900ms
        cubic-bezier(0.215, 0.61, 0.355, 1) forwards,
      fade-in 1000ms 1100ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    // max-height: 0;
    // opacity: 0;
    overflow: hidden;
    padding: 0 34px;
  }
  .CPSubcatProductDetails-listItem {
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    display: -ms-flexbox;
    display: flex;
  }
  .CPSubcatProductDetails-title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 20px 0 0;
  }
  .CPSubcatProduct-ctaWrapper {
    bottom: 0;
    margin-top: -30px;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  .CPSubcatProduct:hover .CPSubcatProduct-ctaWrapper {
    opacity: 1;
  }
  .CPBody--activeSubcategory {
    .CPSubcatProduct {
      animation-delay: 0ms;
      animation-duration: 2000ms;
      animation-fill-mode: forwards;
      animation-name: fade-in;
      height: 600px;
      // opacity: 0;
      transition: background-color 300ms, width 900ms 400ms, height 800ms 400ms;
    }
    .CPSubcatProduct-picture {
      height: 300px;
    }

    .CPBodyRow-intro {
      // -ms-flex-preferred-size: auto;
      // flex-basis: auto;
      width: calc(100% * 1 / 2);
      // -ms-flex-negative: 0;
      // flex-shrink: 0;
    }
  }
}
@media (min-width: 1025px) {
  .CPBodyRow-intro {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(100% * 2 / 9);
    height: 530px;
  }
  .CPSubcatIntro {
    padding: 40px 20px 71px 40px;
  }
  .CPSubcatIntroDescription {
    padding: 0 0 50px;
  }
  .CPSubcatIntroDescription-name {
    font-size: 2.4rem;
  }
  .CPSubcatIntroDescription-info {
    font-size: 1.6rem;
  }
  .CPBodyRow-scrollableProduct {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(100% * 2 / 7);
  }
  .CPSubcatProduct {
    height: 530px;
    height: 100%;
  }
  .CPSubcatProductSizePrice {
    padding: 0 40px;
  }
  .CPSubcatProduct-picture {
    height: 440px;
  }
  .CPSubcatProduct-picture > img {
    width: 330px;
  }

  .CPBodyRow-subcategoryProducts {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(100% * 1 / 3);
  }

  .CPSubcatProductDetails {
    animation: subcat-product-details-enter-lg 1000ms 900ms
        cubic-bezier(0.215, 0.61, 0.355, 1) forwards,
      fade-in 1000ms 1100ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    padding: 0 40px;
  }
  .CPBody--activeSubcategory {
    .CPSubcatProduct {
      animation-delay: 0ms;
      animation-duration: 2000ms;
      animation-fill-mode: forwards;
      animation-name: fade-in;
      height: 600px;
      // opacity: 0;
      transition: background-color 300ms, width 900ms 400ms, height 800ms 400ms;
      &.CPSubcatProduct--hasAddToCart {
        height: 790px;
      }
    }
    .CPSubcatProduct-picture {
      height: 490px;
    }
    .CPSubcatProductSizePrice {
      margin: 0;
    }
    .CPBodyRow-intro {
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(100% * 1 / 3);
      height: 700px;
    }
  }
}
