.h80 {
  height: 80vh;
}
.check-wrap {
  // width: 50%;
  // background: #ddd;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
.center {
  width: 100%;
  // border: 2px solid rgb(180, 66, 66);
}
.inside-checkout-sec-one {
  padding: 10px;
  // border-bottom: 2px solid rgb(180, 66, 66);
}
.inside-checkout-sec-two {
  // background: #ddd;
}
.return-customer {
  // width: calc(50% - 10px);
  // display: inline-block;
  // padding: 5px;
}
.return-customer h2 {
  font-size: 18px;
  font-weight: 600;
}
.return-customer label {
  display: block;
  padding-top: 15px;
}
.return-customer input {
  width: calc(100% - 5px);
  outline: none;
  background-color: none;
  border: 1px solid #000;
  padding-left: 5px;
}
.return-customer button {
  margin-top: 15px;
}
.return-customer p {
  // color: blue;
  padding-top: 10px;
}
.new-customer {
  // width: calc(50% - 10px);

  // display: inline-block;
  // padding: 5px;
  // vertical-align: top;
}
.new-customer h2 {
  font-size: 18px;
  font-weight: 600;
}
.inside-new-cus-one p:first-child {
  padding-top: 10px;
}
.inside-new-cus-two p:first-child {
  padding-top: 10px;
}
