.no-padding {
  padding: 0;
}
.banner-image {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    url(//www.doctorondemand.com/img/hero-images/urgent-care@2x.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
}
.white-bg-p-80 {
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 40px;
}
.margin-top-negative {
  margin-top: -100px;
}
h3.heading-large {
  font-size: 72px;
  padding-right: 50px;
  letter-spacing: 0;
  font-weight: 600;
}
.arrow-btn {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #2b90d9;
}
.arrow-btn:hover {
  color: #004a7d;
}
.arrow-btn svg {
  color: #f0ad4e;
  width: 28px;
  height: 28px;
}
.tab .left {
  width: 30%;
  display: inline-block;
}

.tab .right {
  width: 70%;
  display: inline-block;
}
.tab {
  clear: both;
}
.tablist ul li a {
  text-decoration: none;
  font-size: 22px;
  color: #2b90d9;
  padding: 5px 10px;
  font-weight: 600;
  display: block;
  border-right: 2px solid #ddd;
}
.tablist ul,
ul.icon-list {
  list-style: none;
  padding-left: 0px;
}
.tablist ul li.active a {
  color: #004a7d;
  border-right: 2px solid;
}
.tabcontent {
  padding-left: 50px;
  padding-right: 50px;
}
.main-sec-heading {
  font-size: 30px;
}
.big-font {
  font-size: 20px;
}
ul.icon-list svg {
  color: #f0ad4e;
  margin-right: 20px;
}
ul.icon-list li {
  line-height: 1.7;
  font-size: 20px;
  padding: 5px 8px;
}
ul.icon-list .left-sec,
ul.icon-list .right-sec {
  width: 50%;
  display: inline-block;
}
ul.icon-list .right-sec {
  float: right;
}
.border-top {
  border-top: 2px solid #f0ad4e !important;
}
.blue-bg-btn {
  background: #2b90d9;
  color: #fff !important;
  padding: 18px 30px;
}
.blue-bg-btn:hover {
  background: #004a7d;
}
.btn {
  display: block;
  padding: 0 30px;
}
.img-wrapper img {
  width: 100%;
  object-fit: cover;
  position: relative;
}
.padding-equal {
  padding-top: 50px;
}

.img-wrapper h3 {
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 15%;
  right: 20%;
  display: block;
  text-align: left;
  margin: 0 auto;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
.img-wrapper:after {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: 9999;
}
.img-wrapper {
  position: relative;
}
.mobile-show {
  display: none;
}
.mobile-show a.arrow-btn.blue-bg-btn {
  display: block;
  text-align: center;
  text-transform: capitalize;
}
.accordian-heading {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  line-height: 1.7;
  border-bottom: 2px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.accordian-heading:before {
  position: absolute;
  content: "";
  border: 1px solid #ddd;
  width: 50px;
  bottom: -2px;
  left: -50px;
}
.accordian-heading:after {
  position: absolute;
  content: "";
  border: 1px solid #ddd;
  width: 50px;
  bottom: -2px;
  right: -50px;
}
.accordian-heading .right {
  float: right;
  width: auto;
  padding-top: 0;
  height: auto;
  margin-top: -2px;
  color: #f0ad4e;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .container {
    max-width: 90%;
  }
  .white-bg-p-80 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 768px) {
  .border-top {
    margin-top: 20px;
  }
  .heading-large {
    font-size: 45px;
  }
  .mobile-diifer {
    box-shadow: none;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
  .margin-top-negative {
    margin-top: 0px;
  }
  .mobile-show {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
  .img-wrapper {
    width: 80%;
    margin: 0 auto 20px;
  }
}
